:root {
  --oui-font-family: 'Satoshi', 'Inter Tight', 'Helvetica Neue', Arial, sans-serif;
  --oui-font-size-base: 16px;
  /* colors */
  --oui-color-primary: 0 255 65;
  --oui-color-primary-light: 0 255 65;
  --oui-color-primary-darken: 0 255 65;
  --oui-color-primary-contrast: 0 0 0;
  --oui-color-link: 0 255 65;
  --oui-color-link-light: 0 255 65;
  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 218 218 218;
  --oui-color-quaternary: 180 180 180;
  --oui-color-danger: 230 46 26;
  --oui-color-danger-light: 230 46 26;
  --oui-color-danger-darken: 230 46 26;
  --oui-color-danger-contrast: 255 255 255;
  --oui-color-success: 0 255 65;
  --oui-color-success-light: 0 255 65;
  --oui-color-success-darken: 0 255 65;
  --oui-color-success-contrast: 255 255 255;
  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 229 133;
  --oui-color-warning-darken: 230 46 26;
  --oui-color-
